  * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    direction: ltr !important;
    box-sizing: border-box;
  }
  body {
    font-size: 16px;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  #margin {
    margin-right: 10px;
  }
  .menu-btns .item{
    align-items: center !important;
    padding: 20px !important;
  }
  .menu-btns  i{
    margin-left: 0px !important;
    padding:0 20px;
  }
